#home-container{
    display: flex;
    
    #feed-posts{
        width: 70%;
        padding: 10px;
    }
    #user-friends{
        width: 10%;
        padding: 30px;
         border-left: 1px solid rgba(17, 16, 15, 0.938);
        height: 100%;
    }
}