body
{
    margin: 0;
    // color: #E7717D;
    // background-color: #C2CAD0;
    color: #303163;
    color:#303163;
     background-color:#303163;
    #layout-main{
        height: 100%;
        
        
    }
}