body
{
    margin: 0;
    // color: #E7717D;
    // background-color: #C2CAD0;
    color: #27923ece;
    color: #274092ce;
     background-color: #27923ece;
    #layout-main{
        height: 100%;
        
        
    }
}