<div>
    <p>Hi  <%= comment.user.name%>,</p>
    <br>
    <br>
    <p>Your comment
        <br> 
        <strong>
            <%= comment.content%>
            <br>
        </strong> 
        <br>
        just got published on codeial1</p>
    <br>
    <br>
    <p>Thanks ! </p>
</div>